*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;    
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
/*? -----HEADER------------------------------------- */

.header{
    background-image:url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    position: relative;
    margin-bottom: 80px;
}
.header::before{
    content: "";
    position: absolute;
    background-image: url(../images/header-decor.svg);
    bottom: 0px;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(55%);
    z-index: 2;
}
.header::after{
    content: "";
    position: absolute;
    background-image: url(../images/header-decor.svg);
    bottom: -20px;
    left: 0;
    right: 0;
    height: 356px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(65%) rotate(180deg);
    z-index: 3;
}
.header__top{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    padding: 57px 0;
    gap: 100px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}
.logo path{
    transition: fill 0.3s ease;
}
.logo:hover path{
    fill:#0093A1;
    transition: fill 0.3s ease;
}
.header__btn{
    text-transform: uppercase;
    color: #fff;
    background-color: #262C27;
    padding: 12px 71px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}
.header__btn:hover{
    background-color: #B9C400;
    color: #262C27;
    transition: background-color 0.3s ease;
}
.header__content{
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 20px;
}
.header__content_box{
    max-width: 550px;
    text-align: center;
    color: #fff;
    margin-right: 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}
.header__tittle{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 71px;
    margin-bottom: 20px;
}
.header__text{
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px;
}
.header__decor-text{
    margin-top: 20px;
    color:#0093A1;
    position: absolute;
    z-index: 4;
    bottom: 25px;
}
.header__decor-text--one{
    right: 145px;
    z-index: 1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 50px;
}

.header__decor-text--one,
.header__decor-text--two{
    /* bottom: 30px; */
    font-size: 130px;
    line-height: 145px;
    opacity: 0.3;
    font-family: 'Comfortaa';
    z-index: 4;
}
.header__decor-text--two{
    
    left: 265px;
    bottom: -40px;
}
.header__decor-text--three{
    bottom: 0px;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    max-width: 360px;
    right: 145px;
    text-align: center;
}

/*? -----INFO------------------------------------- */

.info {
    background-image: url(../images/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* margin-top: 140px; */
}
.info::before{
    content: "";
    position: absolute;
    height: 130px;
    background-color:#262C27;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-120px);
    z-index: 1;
}
.info__top {
    display: flex;
    gap: 80px;
    padding-top: 100px;
    margin-bottom: 65vh;
}
.info__top-text {
    padding-top: 245px;
    width: 290px;
    color: #FFFFFF;
    position: relative;
}
.info__top-text--one{
    padding-bottom: 125px;
}
.info__top-text--two{
    border-bottom: 1px solid white;
}
.popup-btn {
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
   
}
.popup-btn span{
    padding-top: 12px;
    display: block;
    color: #fff;
}

.info__btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
.info__top-img {
    position: relative;
    z-index: 6;
}
.info__specs {
    display: flex;
    align-items: center;
    gap: 130px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 50px;
}
.info__specs-tittle {
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 67px;
    width: 250px;
}
.info__specs-list {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding: 30px 0;
    width: 565px;
}
.info__specs-item {
    display: flex;
    gap: 25px;
}
.info__specs-item:not(:last-child) {
    margin-bottom: 15px;
}
.info__specs-caption {
    width: 185px;
}
/*? -----BUY------------------------------------- */

.buy {
    padding: 150px 0;
}
.buy__inner {
    display: flex;
    align-items: center;
    gap: 90px;
}
.buy__content {
    width: 510px;
    position: relative;
}
.buy__tittle {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 67px;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #0093A1;
}
.buy__list {
    margin-bottom: 25px;
}
.buy__item {
    margin-bottom: 25px;
    width: 292px;
}
.buy__item:hover .buy__item-tittle {
    color:#0093A1;
}
.buy__item-tittle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
    transition: color 0.3s ease 0s;
}
.buy__price {
    position: absolute;
    right: 0;
    bottom: 130px;
    width: 201px;
    height: 199px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/star.svg);
}
.but__btn {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #0093A1;
    border: 2px solid #0093A1;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    padding: 18px;
    text-align: center;
    max-width: 484px;
    width: 100%;
    transition: all 0.3s ease 0s;
}
.but__btn:hover {
    background-color: #B9C400;
    border-color: #B9C400;
    color: #262C27;
}
.buy__img {
}






